# App
NEXT_PUBLIC_APP_URL=

# Prisma
DATABASE_URL=

# Better Auth
BETTER_AUTH_SECRET=

# Strava
STRAVA_CLIENT_ID=
STRAVA_CLIENT_SECRET=
STRAVA_WEBHOOK_VERIFY_TOKEN=

# Mapbox
NEXT_PUBLIC_MAPBOX_TOKEN=

# Discord
DISCORD_WEBHOOK_URL=

# Dev / testing
# BYPASS_COUNTDOWN=true